/** @format */

@import "./_nav.scss";
@import "./home.scss";
@import "./upload.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  position: relative;
}

div[id="page-wrap"] {
  height: 100vh !important;
  border: 1px solid red;
}
