/** @format */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div[id="title"] {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
